<div class="page-width container">
  {% if section.settings.title != blank %}
    <div class="section-header text-center row">
      <h4 class="h2 col-md-12">{{ section.settings.title | escape }}</h4>
    </div>
  {% endif %}

  <div class="custom-content row">
    {% for block in section.blocks %}
      {% case block.settings.width %}
        {% when '25%' %}
          {%- assign max_height = 250 -%}
          {%- assign block_width = 'col-md-3' -%}
        {% when '33%' %}
          {%- assign max_height = 345 -%}
          {%- assign block_width = 'col-md-4' -%}
        {% when '50%' %}
          {%- assign max_height = 530 -%}
          {%- assign block_width = 'col-md-6' -%}
        {% when '66%' %}
          {%- assign max_height = 720 -%}
          {%- assign block_width = 'col-md-8' -%}
        {% when '75%' %}
          {%- assign max_height = 810 -%}
          {%- assign block_width = 'col-md-9' -%}
        {% when '100%' %}
          {%- assign max_height = 1090 -%}
          {%- assign block_width = 'col-md-12' -%}
      {% endcase %}

      <div class="custom__item custom__item--{{block.id}} {{ block_width }} {% if block.settings.alignment %}align--{{ block.settings.alignment }}{% endif %}" {{ block.shopify_attributes }}>
        <div class="custom__item-inner custom__item-inner--{{ block.type }}"{% if block.type == 'image' %} id="{{ img_wrapper_id }}"{% endif %}>
          {% case block.type %}
            {% when 'instagram' %}
              <h5 class="h3">{{ block.settings.title }}</h5>
              <div id="instafeed"></div>
              <script type="text/javascript" src="{{ 'instafeed.min.js' | asset_url }}"></script>
              <script type="text/javascript">
                var feed = new Instafeed({
                  get: 'user',
                  userId: '{{ block.settings.instagram_user_id }}',
                  accessToken: '{{ block.settings.instagram_access_token }}',
                  limit: '{{ block.settings.image_count }}',
                  resolution: 'low_resolution',
                  {% raw %}
                  template: '<a href="{{link}}" target="_blank" style="background-image: url(\'{{image}}\');"></a>'
                  {% endraw %}
                });
                feed.run();
              </script>
            {% when 'blog' %}
              <h5 class="h3">{{ block.settings.title }}</h5>
              {% for article in blogs.news.articles limit:block.settings.post_count %}
                <article class="post row id-{{ article.id }}">
                  <div class="content col-6 col-sm-8">
                    <h4 class="h4"><a href="{{ article.url }}">{{ article.title }}</a></h4>
                    <p class="meta">Posted by {{ article.author}} on {{ article.created_at | date: "%A, %B %e, %Y" }}</p>
                    <p>{{ article.excerpt }}&hellip;</p>
                  </div>

                  {% if article.image %}
                    {%- assign img_url = article.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                    <a href="{{ article.url }}" class="article__grid-image-wrapper col-6 col-sm-4">
                      {{ article | img_url: '175x175', crop: 'center', scale: 2 | img_tag: article.title, 'thumbnail' }}
                    </a>
                  {% endif %}
                </article>
              {% endfor %}
          {% endcase %}
        </div>
      </div>

    {% endfor %}
  </div>

  {% if section.blocks.size == 0 %}
    {% include 'no-blocks' %}
  {% endif %}
</div>

{% schema %}
  {
    "name": "Social media",
    "class": "index-section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Social media"
      }
    ],
    "blocks": [
      {
        "type": "instagram",
        "name": "Instagram feed",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Recent Photos"
          },
          {
            "type": "text",
            "id": "instagram_user_id",
            "label": "Instagram User ID",
            "default": "1234567890"
          },
          {
            "type": "text",
            "id": "instagram_access_token",
            "label": "Instagram oAuth Access Token",
            "default": "1234567890.1a2b3c…"
          },
          {
            "type": "select",
            "id": "image_count",
            "label": "Number of images to show",
            "default": "6",
            "options": [
              {
                "value": "3",
                "label": "3"
              },
              {
                "value": "4",
                "label": "4"
              },
              {
                "value": "5",
                "label": "5"
              },
              {
                "value": "6",
                "label": "6"
              },
              {
                "value": "7",
                "label": "7"
              },
              {
                "value": "8",
                "label": "8"
              },
              {
                "value": "9",
                "label": "9"
              },
              {
                "value": "10",
                "label": "10"
              },
              {
                "value": "11",
                "label": "11"
              },
              {
                "value": "12",
                "label": "12"
              }
            ]
          },
          {
            "type": "select",
            "id": "width",
            "label": "Container width",
            "default": "50%",
            "options": [
              {
                "value": "25%",
                "label": "25%"
              },
              {
                "value": "33%",
                "label": "33%"
              },
              {
                "value": "50%",
                "label": "50%"
              },
              {
                "value": "66%",
                "label": "66%"
              },
              {
                "value": "75%",
                "label": "75%"
              },
              {
                "value": "100%",
                "label": "100%"
              }
            ]
          }
        ]
      },
      {
        "type": "blog",
        "name": "Blog feed",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Recent Posts"
          },
          {
            "type": "select",
            "id": "post_count",
            "label": "Number of posts to show",
            "default": "3",
            "options": [
              {
                "value": "3",
                "label": "3"
              },
              {
                "value": "4",
                "label": "4"
              },
              {
                "value": "5",
                "label": "5"
              },
              {
                "value": "6",
                "label": "6"
              }
            ]
          },
          {
            "type": "select",
            "id": "width",
            "label": "Container width",
            "default": "50%",
            "options": [
              {
                "value": "25%",
                "label": "25%"
              },
              {
                "value": "33%",
                "label": "33%"
              },
              {
                "value": "50%",
                "label": "50%"
              },
              {
                "value": "66%",
                "label": "66%"
              },
              {
                "value": "75%",
                "label": "75%"
              },
              {
                "value": "100%",
                "label": "100%"
              }
            ]
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Custom content",
        "category": "Advanced layout",
        "blocks": [
          {
            "type": "instagram"
          },
          {
            "type": "blog"
          }
        ]
      }
    ]
  }
{% endschema %}
